/*Author: Alicia Wang*/

h1, h2, .display, p
{
    text-align:center;
		font-family:"Courier New", Courier, monospace;
		color:white;		
}
html
{
	color:white;
	background-color:black;
}
canvas
{
    background-color:#b1b1cc;
    border:solid 1px black;
}    